.DS_Store
node_modules
/dist
package-lock.json
设计图
111/
Vibration接口20191118B/
Vibration接口20191120A/
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
